@import "tailwindcss";

.side-bar-menu a {

  display: flex;
  align-items: center;
  gap: 25px;
}


body {
  padding: 0px;
  margin: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

input,
select,
textarea {
  font-weight: 600;
}



::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


::-webkit-scrollbar-track {
  background: #ebebea;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}